<div>
    <div *ngIf="productsInCart.length; else shouldShowCartEmpty">
      <app-cart-list
        [productsInCart]="productsInCart"
        [totalSum]="totalSum"
        [totalQuantity]="totalQuantity"
        (incrementQuantity)="onIncrementQuantity($event)"
        (decrementQuantity)="onDecrementQuantity($event)"
        (delete)="onDelete($event)"
        (clearCart)="onClearCart()"
      ></app-cart-list>
    </div>

  <ng-template #shouldShowCartEmpty >
    No items in cart.
  </ng-template>
</div>

