<div>
  <div *ngIf="!productsInCart.length; else shouldShowCart">
    No items in cart.
  </div>
  <ng-template #shouldShowCart>
    <div>
      <button (click)="clearCart()">Clear cart</button>
      <ol>
        <li *ngFor="let productInCart of productsInCart">
          <div>Name: {{productInCart.name}}</div>
          <div>
            <span>Amount: {{productInCart.amount}}</span>
            <button (click)="incrementAmount(productInCart)">+</button>
            <button (click)="decrementAmount(productInCart)">-</button>
          </div>
        </li>
      </ol>
    </div>
  </ng-template>
</div>

