<div class="main-page">
  <div class="main-page__header">
    <app-demo></app-demo>
    <button (click)="onProductsShow()">Products</button>
    <button (click)="onCartShow()">Cart</button>
    <button (click)="onAdminShow()">Admin</button>
    <button (click)="onLoginShow()">Login</button>
  </div>
  <div class="main-page__body main-page-body" >
      <div style="width: 100%;">
        <router-outlet></router-outlet>
      </div>
      <router-outlet name="comments"></router-outlet>
  </div>
</div>
