<h2>LOGIN</h2>
<p>{{message}}</p>
<form *ngIf="!isLoggedIn; else doLogout" (ngSubmit)="onLogin()" id="login-form" #loginForm="ngForm">
  <div>
    <label for="userName">User name</label>
    <input type="text"
           id="userName"
           name="userName"
           placeholder="User name"
           required
           [(ngModel)]="username"
    >
  </div>
  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>
<ng-template #doLogout>
  <button (click)="onLogout()">Logout</button>
</ng-template>
