<div class="cart-list">
  <button (click)="onClearCart()">Clear cart</button>
  <ol>
    <app-cart-item
      *ngFor="let productInCart of productsInCart"
      [productInCart]="productInCart"
      (incrementQuantity)="onIncrementQuantity(productInCart)"
      (decrementQuantity)="onDecrementQuantity(productInCart)"
      (delete)="onDelete(productInCart)"
    ></app-cart-item>
  </ol>
  <div class="cart-list__total-sum">
    Total sum: {{totalSum}}$
  </div>
  <div>
    Total quantity: {{totalQuantity}}
  </div>
</div>
