<div class="cart-list">
  <button (click)="onClearCart()">Clear cart</button>
  <select [(ngModel)]="orderBy">
    <option value="quantity">Quantity</option>
    <option value="price">Price</option>
    <option value="name">Name</option>
  </select>

  <select [(ngModel)]="isAsc">
    <option [ngValue]="false">Descending</option>
    <option [ngValue]="true">Ascending</option>
  </select>

  <ol>
    <app-cart-item
      *ngFor="let productInCart of (productsInCart | orderBy : orderBy : isAsc)"
      [productInCart]="productInCart"
      (incrementQuantity)="onIncrementQuantity(productInCart)"
      (decrementQuantity)="onDecrementQuantity(productInCart)"
      (delete)="onDelete(productInCart)"
    ></app-cart-item>
  </ol>
  <div class="cart-list__total-sum">
    Total sum: {{totalSum | currency : 'USD'}}
  </div>
  <div>
    Total quantity: {{totalQuantity}}
  </div>
</div>
